.weather-container {
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

h2 {
    font-size: 2rem;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img{
        width: 100px;
    }
}

.temperature {
    font-weight: bold;
    font-size: 2.5rem;
}

.description{
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.temp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp-container p {
    font-size: 1.1rem;
}